<div id="new-question-first" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header modal-header-no-line">
                <h5 class="modal-title">Choose a category:</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body modal-body-no-top-padding">
                <div class="btn-group-vertical btn-group-categories" role="group">
                    <%#= button_to  "Languages", {action: }, {class: 'btn btn-light'} %>
                    <%#= button_to  "CS", {action: }, {class: 'btn btn-light'} %>
                    <%#= button_to  "Courses", {action: }, {class: 'btn btn-light'} %>
                    <%#= button_to  "Life @ Tec", {action: }, {class: 'btn btn-light'} %>
                    <button type="button" class="btn btn-light">Languages</button>
                    <button type="button" class="btn btn-light">CS Topics</button>
                    <button type="button" class="btn btn-light">Courses</button>
                    <button type="button" class="btn btn-light">Life @ Tec</button>
                </div>
            </div>
        </div>
    </div>
</div>