<div id="new-question-first-body" class="container-fluid">
    <div class="row bg-white">
        <% @categories.each do |c| %>
            <div class="col-sm-6 col-category">
                <%= link_to :category => c.category_name do %>
                    <div class="card text-white mb-3 <%= c == @categories[0] ? 'bg-primary' : c == @categories[1] ? 'bg-success' : c == @categories[2] ? 'bg-danger' : 'bg-warning' %>">
                        <div class="card-body">
                            <h5 class="card-title">
                                <%= c.category_name %>
                            </h5>
                        </div>
                    </div>
                    <% end %>
            </div>
            <% end %>
    </div>
</div>