
<div class="container">
    <div class="container">
        <div class="jumbotron bannerHeader" id="topicHeader">
            <div class="suggest-topic-container">
               <span class="lead">
                    Not finding what you're looking for?
                </span>
                <%= link_to "Suggest new topic", "#new-topic-modal", "data-toggle" => "modal", class: "lead suggest-topic"%>         
            </div>
            <h1 class="display-4">Topic Name</h1>
            <p class="lead">
                Each topic has its own description to introduce you to what they do and what they can answer.
            </p>
        </div>     
    </div>

</div>

<div class="container" id="topic-questions-container">
    <%= render "questions" %>
</div>