<div id="homeQuestionsPanel" style="width:50%;"> 
    <div class="container titleHome">
        <h3 class="display-4 home">Questions</h3> 
    </div>
   
    <div class="questionContent">
      <% @topic.questions.by_date.each do |question| %>
        <div class="question-information">
          <div class="question-info">
            <div class="answer-quantity">
              <%= question.answers.count %>
            </div>
            <div>
              answers
            </div>
          </div>
          <div>
            <div class="questionTitle">
              <%= link_to question.question_title, question_path(question), class: "link-to-question"%>
            </div>
            <p class="questionText">
              <%= question.question_text %>
            </p>
            <small class="user-info">
              <%= question_show_timestamp(question) %>
            </small>
          </div>
        </div>
        <hr>
      <% end %>
    </div>
</div>
