.navbar-color{
  background-color: rgba(35, 35, 43, 1);
}

.nav-link {
  color: white;
  font-weight: bold;
}

.navbar-brand {
  padding: 0;
}

.navbar-logo-text {
  position: absolute;
  left: 50%;

  .nav-item {
    position: relative;
    left: -50%;
  }
}

.navbar-img {
  height: 50px;
}

// .dropdown-menu:li {
//     text-align: left;
// }

.desktop-navbar .dropdown:hover .dropdown-menu.dd-menu {
  display: block;
  margin-top: 0;
}

.mobile-click-show {
  display: block;
  margin-top: 0;
}

#ask-question-content{
  min-height: 500px;
}

html, body {
  margin: 0;
  height: 100%;
  min-height: 100%;
}

#linkQuestion{
  color: white;
  font-size: 1.2rem;
  padding-left: 0px;
  margin-left: 0px;
}
#linkQuestion:focus{
  border: none;
  outline: 0 none;
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#linkQuestion:hover{
  color: rgba(202, 202, 204, 1);
  text-decoration: underline;
}

#link-no-question{
  color: white;
  font-size: 1.2rem;
}
#link-no-question:focus{
  border: none;
  outline: 0 none;
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#link-no-question:hover{
  text-decoration: underline;
}

#navbarHomeButton,
#navbarDropdownCategories,
#navbarDropdownOptions{
  color: white;
  font-size: 1rem;
  font-weight: normal;
}

#navbarDropdownOptions{
  min-width: 120px;
}

#navbarHomeButton:hover,
#navbarDropdownCategories:hover,
#navbarDropdownOptions:hover{
  color: rgba(202, 202, 204, 1);
}

#navbar{
  padding-left: 50px;
  padding-right: 50px;
}
