<div id="homeWrapper" class="row homeWrapper">
  <div class="col-sm-7">
    <div id="homeQuestionsPanel"> 
      <h3 class="display-4 home">Questions</h3> 
      <%= render 'questions/questions' %>
    </div>
  </div>
  <div class="col-sm-5">
    <div id="homePanel"> 
      <div class="container titleHome">
        <h3 class="display-4 home"> Elda says</h3> 
        <%= render 'posts/posts'%>
      </div>
    </div>
  </div>
</div>