<div class="container">
    <ul id="posts" class="list-group list-group-flush">
        <% @posts.each do |post| %>
            <li class="list-group-item">Cras justo odio <% post.post_content %></li>
        <% end %>
    </ul>
</div>