// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  font-family: 'Roboto', sans-serif !important;
}
#homeWrapper {
  width: 100%;
  margin: 0 auto;
  padding: 12px;
  padding-top: 20px;
}

.row.homeWrapper {
    background-color: transparent;
}

#posts{
  li{
    border-radius: 10px;
    margin: 3px;

    p{
      font-size: 0.9rem;
    }

    h5{
      font-size: 1.1rem;
    }

    .d-flex {
      flex-direction: row-reverse;
      margin-bottom: 5px;
    }

    .imgSize{
      border-radius: 30px;
    }
  }
}

#new-question-modal-body-footer{
  vertical-align: middle;
  margin: auto 40px;
}

#topic_name{
  padding-top: 6px !important;
}

.modal-footer.new-question-question,
.modal-footer.new-question-topic{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-top:  none; 
}

.logoDecoration{
	display: block;
	float: right;
	position: relative;
	top: 15px;
	width: 300px;
}

#listPosts{
	max-height: 800px;
	padding-top: 65px;
	overflow-y:scroll;
  padding: 0px 2px 2px 2px;
  
  small{
    color: #707070;
  }
}

#category-cards-container{
	padding-left: 10%;
	padding-right: 10%;
}

.jumbotron.bannerHeader{
	background-color: transparent;
	margin-bottom: 5px;
	border-radius: 15px;

	.lead{
    max-width: 300px;
		font-size: 1rem;
		margin-bottom: 3px;
  }

  p{
    min-width: 300px;
  }
}

#topic-cards-container{
  padding-left: 5%;
  padding-right: 5%;
  background-size: cover;
  height: 100%;
  width: 100%;
  display: flow-root;
  flex-direction: row;
  text-align: center;

    >a{
      color: none;
      text-decoration: none;
  }
}

$bckColor: (
'color1' : #6eb6ff,
'color2' : #92d051,
'color3' : #ff5e64,
'color4' : #a96cc6,
'color5' : #f2c337,
'color6' : #f7893b,
'color0' : #68c2ac,
'color8' : #f9a4dd,
'color7' : #4771cc,
);

// loop, to style social media links
@each $name, $color in $bckColor {
  // selector based on href name
  [name*='#{$name}'] {
    background-color: $color;
  }
}

.submit-file-button{
    display: none !important;
}

.post-content-container{
  display: flex;
  justify-content: center;
  flex-direction: row;

  textarea{
    width: 70%;
  }
}

.layout-photo-upload{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  margin: 10px;
  font-size: 0.8rem;

  .custom-file-upload{
    margin: 0 auto;
    font-size: 0.8rem !important;
    background: rgb(140, 140, 141);
    color: white;
    font-size: 1rem;
    border: 1px solid rgb(140, 140, 141);
  }
  .custom-file-upload:hover{
    background: rgb(74, 74, 75);
    color: white;
  }
}

.custom-file-upload {
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  color: #007bff;;
  background: white;
  font-size: 1rem;
  border: 1px solid #007bff;
  margin: 0px 15px;
  border-radius: 9px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: all 300ms ease-in-out;
}
.custom-file-upload:hover {
  background: #007bff;
  color: white;
}

.preview{
  margin: 10px;
  color: rgb(130, 130, 134);

  img{
    padding: 5px;
  }
}

.titleHome{
  max-width: 100% !important;
}

.button-new-post-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #007bff;
  width: 30px;
  height: 30px;
  margin: 0px 10px 10px 10px;
  border-radius: 50%;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: all 300ms ease-in-out;

  .new-post-button{
    color:white;
    text-align: center;
    text-decoration: none;
  }
  .new-post-button:focus{
    border: none;
    outline: 0 none;
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}
.button-new-post-container:hover{
  background-color: rgb(31, 70, 109);
}

.title-button-container-posts{
  display: flex;
  flex-direction: row;
  align-items: center;

}

.btn.topic-button{
  filter: saturate(120%);
  width: 160px;
  height: 160px;
  margin: 20px 30px 20px 30px;
  font-size: 1rem;
  display: inline-block;
  border-radius: 50%;
  white-space: normal;
  color: white;
  font-weight: bold;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: all 300ms ease-in-out;
}
.btn.topic-button:hover{
  filter: brightness(70%);
}

#categoryHeader {
  padding: 3rem 1.5rem;

  .lead.suggest-topic{
    width: 150px;
    text-align: center;
    margin-bottom: 0px;
    float: right;
    font-size: 0.9rem;
    padding: 6px 10px 6px 10px;
    border-radius: 10px;
    background-color: rgba(40, 93, 145, 1);
    color: white;
  }
  .lead.suggest-topic:hover{
    background-color: rgb(31, 70, 109);
    cursor: pointer;
  }
}

.suggest-topic-container{
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 1rem;

  .lead{
    font-size: 0.9rem;
    margin-bottom: 7px;
  }
}

#searchPost{
  width: 100%;
  font-size: 0.9rem;
  border: none;
  border-radius: 12px;
  margin-bottom: 4px;
  margin-top: 4px;
}

.sticky-top{
  padding-bottom: 5px;
  background-color: #e9ecef;
}

#homePanel {
    //float: left;
  //width: 50%;
  margin: 6px;
  padding: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 15px;
  background-color: #e9ecef;
}

#homeQuestionsPanel {
  //float: left;
  //width: 50%;
  background-color: #e9ecef;
  margin: 6px;
  padding: 20px;
  border-radius: 15px;
  // border-right-style: solid;
  // border-right-color: grey;
  // border-right-width: 5px;
}

.display-4.home{
  font-size: 2rem;
  font-weight: 450;
}

h5{
  font-weight: 300;
}

.ui-resizable {
  position: relative;
}
.ui-resizable-handle {
  position: absolute;
  font-size: 0.1px;
  display: block;
  -ms-touch-action: none;
  touch-action: none;
}
.ui-resizable-disabled .ui-resizable-handle,
.ui-resizable-autohide .ui-resizable-handle {
  display: none;
}
.ui-resizable-n {
  cursor: n-resize;
  height: 7px;
  width: 100%;
  top: -5px;
  left: 0;
}
.ui-resizable-s {
  cursor: s-resize;
  height: 7px;
  width: 100%;
  bottom: -5px;
  left: 0;
}
.ui-resizable-e {
  cursor: e-resize;
  width: 7px;
  right: -5px;
  top: 0;
  height: 100%;
}
.ui-resizable-w {
  cursor: w-resize;
  width: 7px;
  left: -5px;
  top: 0;
  height: 100%;
}
.ui-resizable-se {
  cursor: se-resize;
  width: 12px;
  height: 12px;
  right: 1px;
  bottom: 1px;
}
.ui-resizable-sw {
  cursor: sw-resize;
  width: 9px;
  height: 9px;
  left: -5px;
  bottom: -5px;
}
.ui-resizable-nw {
  cursor: nw-resize;
  width: 9px;
  height: 9px;
  left: -5px;
  top: -5px;
}
.ui-resizable-ne {
  cursor: ne-resize;
  width: 9px;
  height: 9px;
  right: -5px;
  top: -5px;
}

.align-flex {
  display: flex;
  padding-bottom: 5px;
  border: none;
}

.submit-search {
  -webkit-appearance: none;
  background-color: #707070;
  color: white;
  border: none;
  height: 100%;
  border-radius: 12px;
  margin: 5px 0px 5px 0px;
  font-size: 0.9rem;
  height: 100%;
  padding: 8px;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (max-width: 800px) {
	.logoDecoration{
		display: none;
	}

	#categoryHeader {
		.lead{
			width: 100%;
		}
	}
}
