// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#homeWrapper {
    width: 100%;
  margin: 0 auto;
  padding: 12px;
  padding-top: 20px;
}

.row.homeWrapper {
    background-color: transparent;
}

#posts{
  li{
    border-radius: 10px;
    margin: 3px;

    p{
      font-size: 0.9rem;
    }

    h5{
      font-size: 1.1rem;
    }

    .d-flex {
      flex-direction: row-reverse;
      margin-bottom: 5px;
    }

    .imgSize{
      border-radius: 30px;
    }
  }

}

.logoDecoration{
	display: block;
	float: right;
	position: relative;
	top: -15px;
	width: 320px;
}

#listPosts{
	max-height: 800px;
	padding-top: 65px; 
	overflow-y:scroll; 
	padding: 0px 2px 2px 2px;
}

#category-cards-container{
	padding-left: 10%;
	padding-right: 10%;
}

.jumbotron.bannerHeader{
	background-color: transparent;
	margin-bottom: 5px;
	border-radius: 15px;

	.lead{
		max-width: 300px;
		font-size: 1rem;
		margin-bottom: 3px;
	}
}

#categoryHeader {
	background-color: transparent;
	margin-bottom: 5px;
	border-radius: 15px;

	.lead{
		max-width: 300px;
		font-size: 1rem;
		margin-bottom: 3px;
	}
}

#searchPost{
  width: 100%;
  font-size: 0.9rem;
  border: none;
  border-radius: 15px;
  margin-bottom: 4px;
  margin-top: 4px;
}

.sticky-top{
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding-bottom: 5px;
  background-color: #e9ecef;
}

#homePanel {
    //float: left;
  //width: 50%;
  margin: 6px;
  padding: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 15px;
  background-color: #e9ecef;
}

#homeQuestionsPanel {
  //float: left;
  //width: 50%;   
  background-color: #e9ecef;
  margin: 6px;
  padding: 20px;
  border-radius: 15px;
  // border-right-style: solid;
  // border-right-color: grey;
  // border-right-width: 5px;
}

.display-4.home{
  font-size: 2rem;
  font-weight: 450;
}

h5{
  font-weight: 300;
}

.ui-resizable {
  position: relative;
}
.ui-resizable-handle {
  position: absolute;
  font-size: 0.1px;
  display: block;
  -ms-touch-action: none;
  touch-action: none;
}
.ui-resizable-disabled .ui-resizable-handle,
.ui-resizable-autohide .ui-resizable-handle {
  display: none;
}
.ui-resizable-n {
  cursor: n-resize;
  height: 7px;
  width: 100%;
  top: -5px;
  left: 0;
}
.ui-resizable-s {
  cursor: s-resize;
  height: 7px;
  width: 100%;
  bottom: -5px;
  left: 0;
}
.ui-resizable-e {
  cursor: e-resize;
  width: 7px;
  right: -5px;
  top: 0;
  height: 100%;
}
.ui-resizable-w {
  cursor: w-resize;
  width: 7px;
  left: -5px;
  top: 0;
  height: 100%;
}
.ui-resizable-se {
  cursor: se-resize;
  width: 12px;
  height: 12px;
  right: 1px;
  bottom: 1px;
}
.ui-resizable-sw {
  cursor: sw-resize;
  width: 9px;
  height: 9px;
  left: -5px;
  bottom: -5px;
}
.ui-resizable-nw {
  cursor: nw-resize;
  width: 9px;
  height: 9px;
  left: -5px;
  top: -5px;
}
.ui-resizable-ne {
  cursor: ne-resize;
  width: 9px;
  height: 9px;
  right: -5px;
  top: -5px;
}

.align-flex {
  display: flex;
}

.submit-search {
  height: 40px;
}
@media screen and (max-width: 800px) {
	.logoDecoration{
		display: none;
	}

	#categoryHeader {
		.lead{
			width: 100%;
		}
	}
}
