// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#homeWrapper {
    width: 100%;
	margin: 0 auto;
	padding: 12px;
}

.row.homeWrapper {
    background-color: transparent;
}

#posts{
	li{
		border-radius: 10px;
		margin: 3px;
	}
}

#homePanel {
    //float: left;
	//width: 50%;
	margin: 6px;
	padding: 10px;
	padding-bottom: 25px;
	border-radius: 25px;
    background-color:rgba(216, 216, 218, 0.477);
}

#homeQuestionsPanel {
	//float: left;
    //width: 50%;
	background-color:rgba(216, 216, 218, 0.477);
	margin: 6px;
	padding: 10px;
	border-radius: 25px;
	// border-right-style: solid;
	// border-right-color: grey;
	// border-right-width: 5px;
}

.display-4.home{
	font-size: 2rem;
}

.ui-resizable {
	position: relative;
}
.ui-resizable-handle {
	position: absolute;
	font-size: 0.1px;
	display: block;
	-ms-touch-action: none;
	touch-action: none;
}
.ui-resizable-disabled .ui-resizable-handle,
.ui-resizable-autohide .ui-resizable-handle {
	display: none;
}
.ui-resizable-n {
	cursor: n-resize;
	height: 7px;
	width: 100%;
	top: -5px;
	left: 0;
}
.ui-resizable-s {
	cursor: s-resize;
	height: 7px;
	width: 100%;
	bottom: -5px;
	left: 0;
}
.ui-resizable-e {
	cursor: e-resize;
	width: 7px;
	right: -5px;
	top: 0;
	height: 100%;
}
.ui-resizable-w {
	cursor: w-resize;
	width: 7px;
	left: -5px;
	top: 0;
	height: 100%;
}
.ui-resizable-se {
	cursor: se-resize;
	width: 12px;
	height: 12px;
	right: 1px;
	bottom: 1px;
}
.ui-resizable-sw {
	cursor: sw-resize;
	width: 9px;
	height: 9px;
	left: -5px;
	bottom: -5px;
}
.ui-resizable-nw {
	cursor: nw-resize;
	width: 9px;
	height: 9px;
	left: -5px;
	top: -5px;
}
.ui-resizable-ne {
	cursor: ne-resize;
	width: 9px;
	height: 9px;
	right: -5px;
	top: -5px;
}