// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn-group-categories {
  width: 100%;
}

div{
  .modal-header-no-line {
    border-bottom: 0px;
  }

  .modal-body-no-top-padding {
    padding-top: 0;
  }
}

.link-to-question {
	font-size: 1.5rem;
}

.question-information {
	display: inline-flex;
	margin-bottom: 0.5rem;
	width: 100%;
}

.question-info {
	margin-left: 1rem;
	margin-right: 3rem;
	margin-top: 0.5rem;
}

.answer-quantity {
	text-align: center;
}