// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn-group-categories {
  width: 100%;
}

.questionContent{
	  max-height: 800px;
    overflow-y: scroll;
}

div{
  .modal-header-no-line {
    border-bottom: 0px;
  }

  .modal-body-no-top-padding {
    padding-top: 0;
  }
}

.link-to-question {
	font-size: 1.2rem;
	font-weight: 450;
	color: black;
}

.questionText{
	font-size: 0.9rem;
	max-height: 100px;
	text-overflow: ellipsis;
}

.link-to-question:hover {
	text-decoration: underline;
	color: rgba(40, 93, 145, 1);
}

.question-information {
	display: inline-flex;
	margin-bottom: 0rem;
	width: 100%;
	background-color: white;
	border-radius: 15px;
	padding: 20px;

}

.question-info {
	margin-left: 1rem;
	margin-right: 3rem;
	height: auto;
	display: flex;
	flex-direction: column;
	align-self: center;
}

.answer-quantity {
	text-align: center;
}

.dropdown-divider.questions{
	margin-right: 25px;
}

@mixin BoxShadowHelper($level: 1){
  @if $level == 1 {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
  }
  @if $level == 2 {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
  }
}

.card {
  @include BoxShadowHelper(1);
  
  overflow: hidden;
  transition: .25s box-shadow;
  margin-bottom: 20px;
  
  &:focus,
  &:hover {
    @include BoxShadowHelper(2);
  }
}

// .card-click { 
//   // color: inherit !important;
//   text-decoration: inherit !important; 
// }

// .card-click button {
//   z-index: 1;
// }

.col-category a {
	// color: inherit !important;
	text-decoration: inherit !important;
	
	button {
  	z-index: 1;		
	}
}

#new-question-topic-input {
  margin-left: 7%;
  margin-right: 7%;
}

.card.card-category{
  margin-bottom: 25px;
}

.card-category {
  height: 10.5rem;
  border-radius: 1rem !important;


  .card-body {
    display : flex;
    align-items : center;
    background-color: grey;
    
    .card-title {
      text-align: center;
      width: 100%;
      color: white;
      font-weight: 550;
      margin-bottom: 0px;
      font-size: 1.75rem;
    }
  }
}

.category_input {
  pointer-events: none;
  position: absolute;
  clip: rect(0,0,0,0);
}