// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn-group-categories {
  width: 100%;
}

.questionContent{
	  max-height: 800px;
    overflow-y: scroll;
}

div{
  .modal-header-no-line {
    border-bottom: 0px;
  }

  .modal-body-no-top-padding {
    padding-top: 0;
  }
}

.link-to-question {
	font-size: 1.2rem;
	font-weight: 450;
	color: black;
}

.questionText{
	font-size: 0.9rem;
	max-height: 100px;
	text-overflow: ellipsis;
}

.link-to-question:hover {
	text-decoration: underline;
	color: rgba(40, 93, 145, 1);
}

.question-information {
	display: inline-flex;
	margin-bottom: 0rem;
	width: 100%;
	background-color: white;
	border-radius: 15px;
	padding: 20px;

}

.question-info {
	margin-left: 1rem;
	margin-right: 3rem;
	height: auto;
	display: flex;
	flex-direction: column;
	align-self: center;
}

.answer-quantity {
	text-align: center;
}

.dropdown-divider.questions{
	margin-right: 25px;
}

@mixin BoxShadowHelper($level: 1){
  @if $level == 1 {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
  }
  @if $level == 2 {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
  }
}

.card {
  @include BoxShadowHelper(1);
  
  overflow: hidden;
  transition: .25s box-shadow;
  margin-bottom: 20px;
  
  &:focus,
  &:hover {
    @include BoxShadowHelper(2);
  }
}

// .card-click { 
//   // color: inherit !important;
//   text-decoration: inherit !important; 
// }

// .card-click button {
//   z-index: 1;
// }

.col-category a {
	// color: inherit !important;
	text-decoration: inherit !important;
	
	button {
  	z-index: 1;		
	}
}

#new-question-topic-input {
  margin-left: 7%;
  margin-right: 7%;
}

.card.card-category{
  margin-bottom: 25px;
}

.card-category {
  height: 10.5rem;
  border-radius: 1rem !important;
  cursor: pointer;

  .card-body {
    display : flex;
    align-items : center;
    
    .card-title {
      text-align: center;
      width: 100%;
      color: white;
      font-weight: 550;
      margin-bottom: 0px;
      font-size: 1.75rem;
    }
  }
}

.category_input {
  pointer-events: none;
  position: absolute;
  clip: rect(0,0,0,0);
}

.ui-autocomplete-input {
  border: none; 
  font-size: 14px;
  width: 300px;
  height: 24px;
  margin-bottom: 5px;
  padding-top: 2px;
  border: 1px solid #DDD !important;
  padding-top: 0px !important;
  z-index: 1511;
  position: relative;
}

.ui-menu .ui-menu-item a {
  font-size: 12px;
}

.ui-autocomplete {
  position: fixed;
  top: 100%;
  left: 0;
  z-index: 1051 !important;
  float: left;
  display: none;
  min-width: 160px;
  width: 160px;
  padding: 4px 0;
  margin: 2px 0 0 0;
  list-style: none;
  background-color: #ffffff;
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px;
}

.ui-menu-item > a.ui-corner-all {
  display: block;
  padding: 3px 15px;
  clear: both;
  font-weight: normal;
  line-height: 18px;
  color: #555555;
  white-space: nowrap;
  text-decoration: none;
}

.ui-state-hover, .ui-state-active {
  color: #ffffff;
  text-decoration: none;
  background-color: #0088cc;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  background-image: none;
}