.question-title {
  font-size: 2rem;
}

.small-font {
  font-size: 0.8rem;
}

.question-user {
  position: relative;
  width: 300px;
  left:65%;
}

.question-topic {
  position: relative;
  width: 300px;
  left:65%;
}