
#fName, #lName, #uMat, #uEmail, #uName,
#uPass, #uPassConf, #uGender, #signUp, h2{
    text-align: center;
    align-self: left;
    margin: auto;
    font-size: 13px;
    padding-left: 500px;
}

#imgLogo {
    padding-right: 500px;
    padding-top: height/2 + 200px;
}
