
#formReg{
    vertical-align: center;
}

#signUpContainer{
    display: flex;
    height: 100%;
}

#signInContainer{
    display: flex;
    height: 100%;
}

#signUp,
#signUpBtn{
    display: block;
    vertical-align: center;
    font-size: 1.1rem;
    float:right;
    margin-left: 20px;
}

#rememberLabel {
    font-size: 1rem;
}

#femaleLabel{
    padding-right: 15px;
}

#signUp > a {
    font-size: 1.1rem;
    margin-top: 12px;
    float: right;
    color: white;
}

#signUp > a:focus {
    text-decoration: underline;
}

#containerForm {
    margin-top: 30px;
    vertical-align: center;
    padding-bottom: 5%;
}

#imgLogo{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.registration {
  display: inline-flex;
}

.imgSize{
    height: 380px;
}

.imgSize{
    width: 100%;
    height: auto;
    padding: 25px;
}

#registrationbk {
    background: rgb(32, 76, 121);
    display: inline-flex;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

#containerForm{
    padding-right: 10%;
    padding-left: 3%;
}

.form-check{
    color: white;
}

.form-control,
.input,
.form-check{
    width: 100%;
    height: auto;
    font-size: 1rem;

}

#formBox{
    margin: 0 auto;
    width: 100%;
    padding-top: 0px;
    margin-top: 0px;
    float: none;
}

.logo-wrapper {
    position: relative;

  .logo{
      text-align: right;
  }
}

@media screen and (max-width: 768px) {
    #registrationbk {
        width: 100%;
        margin: 0 auto;
        min-height: 100vh;
    }

    #signUpContainer{
        display: flex;
        height: auto;
        width: auto;
    }
    .imgSize{
        height: 280px;
        width: auto;
    }

    #containerForm{
        padding-right: 10%;
        padding-left: 10%;
    }

    .logo-wrapper {
        position: relative;
        .logo{
            text-align: center;
        }
    }
  }
