$themeColor-black: rgba(35, 35, 43, 1);
$themeColor-black-shadow: rgba(35, 35, 43, 0.2);
$themeColor-light: rgba(202, 202, 204, 1);
$themeColor-white: rgba(250, 250, 250, 1);
$themeColor-lightBlue:  rgba(39, 138, 219, 1);
$themeColor-darkBlue: rgba(40, 93, 145, 1);
$themeColor-red: rgba(196, 61, 59, 1);
$themeColor-green: rgba(94, 173, 55, 1);
$themeColor-purple: rgba(78, 70, 149, 1);


$lightblue: #6eb6ff;
$lightgreen: #92d051;
$lightRed: #ff5e64;
$lightPurple: #a96cc6;
$lightYellow: #f2c337;
$lightOrange: #f7893b;
$lightAqua: #68c2ac;
$lightPink: #f9a4dd;
$lightFacebook: #4771cc;
