#editProfileBut,
#saveChangesBut{
    margin-left: 7px;
}

#updateChangesBut{
  margin-top: 2rem;
}

.row {
    background-color: #f7f7f9;
}

#change-profile-button{
    display: none;
}

#profileTitle{
    margin-top: 20px;
    margin-left: 20px;
    font-size: 1.3rem;
    font-weight: bold;
}

.cardWithFocus{
    border-color: rgb(85, 170, 226);
    -webkit-box-shadow: 16px 8px 23px rgb(85, 170, 226);
    -moz-box-shadow: 16px 8px 23px rgb(85, 170, 226);
    box-shadow: 0px 0px 18px rgb(85, 170, 226);
}

.media-object.profile {
    width:160px;
    border-radius: 50%;
}

.media-object.answer {
    width: 50px;
    border-radius: 50%;
}

.media-object.comment {
    width: 35px;
    border-radius: 50%;
}

.jumbotron.profile {
    padding-top: 44px;
    margin: 32px 25px;
}

.card{
    display: flex;
}

.hidden,
.lead.hidden,
.card.hidden {
    display:none;
}

.hidden-tab {
    display:none;
}

.showing,
.lead.showing,
.card.showing {
    display: flex;
}

.list-group-item.menu:hover {
    text-decoration: underline;
}

.list-group-item.menu {
    background-color: transparent;
    font-size: 1.1rem;
}

.container.deleteAccount{
    text-align: center;
    margin-top: 40px;
}

.form-group.editProfile{
    margin-bottom: 0rem;
}

.form-control.editProfile{
    border: none;
    font-size: 1rem;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

.photo_upload{
    display: flex;
}

.form-control.editProfile:focus{
    border: none;
    outline: 0 none;
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.editable-fields{
    width:100%;
    margin-left: 1rem;
}

.editable-fields:focus{
    width:100%;
    margin-left: 1rem;
}

.profile-input {
    display: flex;
    height: 4rem;
    justify-content: center;
    color: #2980B9;

}

.profile-input:focus{
    border: none;
    outline: 0 none;
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;

    *:focus{
        border: none;
        outline: 0 none;
        border-color: inherit;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

}
