<div class="container">
    <div class="row bg-white">
        <div class="col-sm-5 col-category">
            <div class="container">
                <div class="jumbotron" id="categoryHeader">
                    <p class="lead">Explore and find topics in</p>
                    <h1 class="display-2">Categories</h1>
                    <p class="lead">
                    Each category can lead you to explore many topics that people have asked questions about.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-7 col-category">
        <%=image_tag("brand/SingleLogoBlackBorder.png", class: "logoDecoration", alt: "Askify-Logo") %>
        </div>
    </div>
</div>

<div class="container" id="category-cards-container">
    <div class="row bg-white">
        <% @categories.each do |c| %>
            <div class="col-sm-6 col-category">
                <%= link_to :category => c.id do %>
                    <div class="card card-category mb-3%>">
                            <%= image_tag("categories/" + c.id.to_s+ ".jpeg", class: "card-img-top imgCategory", alt: "c.category_name", style: "height: auto")%>
                            <div class="card-body">
                                <h5 class="card-title lead">
                                    <%= c.id %>

                                </h5>
                            </div>
                        </div>
                <% end %>
            </div>
        <% end %>
    </div>
</div>
