<div class="container">
    <div class="container">
        <div class="jumbotron bannerHeader" id="categoryHeader">
            <div class="suggest-topic-container">
                <span class="lead">
                    Not finding what you're looking for?
                </span>
                <%= link_to "Suggest new topic", "#new-topic-modal", "data-toggle" => "modal", class: "lead suggest-topic"%>        
            </div>
            <h1 class="display-4"> <%= @category.category_name %>  </h1>
            <p class="lead">
                Explore the different topics in each category. Topics can cover many questions you may have.
            </p>
        </div>
    </div>
</div>

<div class="container-fluid" id="topic-cards-container">
  <div class="row bg-white">
    <% @category.topics.each do |topic| %>
      <div class="col-sm col-category">
        <%= link_to topic_path(topic) do %>
          <button type="button" class="btn topic-button"><%= topic.topic_name %></button>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
